.select-file-button{
    -fx-text-fill: black;
    -fx-background-color: #a5a5a5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.continue-file-button{
    -fx-text-fill: black;
    -fx-background-color: #f2c261;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.background-ef{
    -fx-background-color: #efefef;
}

.mv-fullscreen{
    -fx-pref-width: 50px;
    -fx-pref-height: 20px;
    -fx-font-size: 15px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #f2c261;
}

.mv-fullscreen-label{
    -fx-font-size: 15px;
}

.open-mv{
    -fx-pref-width: 230px;
    -fx-pref-height: 20px;
    -fx-font-size: 15px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #f2c261;
}

.background-ddd {
    -fx-background-color: #dddddd;
}

.background-ddd .viewport {
    -fx-background-color: #dddddd;
}

.background-ddd > .scroll-pane {
    -fx-background-color: #dddddd;
}

.font-green{
    -fx-text-fill: green;
}

.font-red{
    -fx-text-fill: red;
}

.fighter-box{
    -fx-background-color: #c6c6c6;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-pref-width: 230px;
}

.fighter-box-border-red{
    -fx-border-color: red;
    -fx-border-width: 3px;
    -fx-border-style: solid;
}

.fighter-box-border-green{
    -fx-border-color: green;
    -fx-border-width: 3px;
    -fx-border-style: solid;
}

.text-size-15{
    -fx-font-size: 15px;
}

.nextfighers-white{
    -fx-background-color: #fff;
    -fx-background-radius: 15px;
    -fx-padding: 15px;
}

.nextfighers-blue{
    -fx-background-color: #2979b5;
    -fx-background-radius: 15px;
    -fx-padding: 15px;
}

.next-altersklasse{
    -fx-background-color: orange;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
}

.weiter-nextfight{
    -fx-background-color: #f2c261;
    -fx-background-radius: 15px;
    -fx-font-size: 15px;
    -fx-padding: 10px;
}

.background-saturated-orange{
    -fx-background-color: #ffae00;
}

.kampf-beenden{
    -fx-background-color: #ff0000;
    -fx-padding: 5px;
    -fx-background-radius: 10px;
    -fx-font-size: 15px;
}

.kampf-start-stop{
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-font-size: 15px;
    -fx-background-color: #f2c261;
}

.goldenScore-button{
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-font-size: 15px;
    -fx-background-color: #e8e811;
}

.font-15px{
    -fx-font-size: 15px;
}

.background-blue{
    -fx-background-color: #2979b5;
}

.background-white{
    -fx-background-color: #fff;
}

.fighter-boxes{
    -fx-padding: 15px;
    -fx-background-radius: 20px;
}

.fight-controls{
    -fx-background-color: #f2c261;
    -fx-background-radius: 10px;
    -fx-text-fill: black;
}

.fight-controls-reset-oasei-komi{
    -fx-background-color: #ea1111;
    -fx-background-radius: 10px;
    -fx-text-fill: black;
}

.timerlabel{
    -fx-background-color: black;
    -fx-text-fill: #00ff00;
    -fx-font-size: 60px;
    /*-fx-padding: 30px;*/
    -fx-font-family: monospace;
    -fx-font-weight: bold;
}

.timerlabel-vbox{
    -fx-background-color: black;
}

.timerlabel-hBox{
    -fx-background-color: black;
}

.progress-bar{

}

.progress-bar .track{
    -fx-background-color: #7a7a7a;
}

.progress-bar .bar{
    -fx-background-color: orange;
}

.grid-pane{
    -fx-pref-height: 200px;
    -fx-min-height: 200px;
    -fx-background-color: #9f9e9e;
}

.festhalter-zeit{
    -fx-font-size: 30px;
}

