.text-25{
    -fx-font-size: 25px;
}

.text-150{
    -fx-font-size: 150px;
}

.text-100{
    -fx-font-size: 100px;
}

.text-75{
    -fx-font-size: 75px;
}

.hightlight-Blue-Box{
    -fx-background-color: #2979b5;
    -fx-background-radius: 50px;
    -fx-padding: 25px;
}

.hightlight-White-Box{
    -fx-background-color: #fff;
    -fx-background-radius: 50px;
    -fx-padding: 25px;
}

.white-box{
    -fx-background-color: #fff;
    -fx-padding: 25px;
}

.blue-box{
    -fx-background-color: #2979b5;
    -fx-padding: 25px;
}

.grid-pane{
    -fx-background-color: #9f9e9e;
}

.background-blue{
    -fx-background-color: #2979b5;
}

.background-white{
    -fx-background-color: #fff;
}

.progress-bar{

}

.progress-bar .track{
    -fx-background-color: #7a7a7a;
}

.progress-bar .bar{
    -fx-background-color: orange;
}

.timerlabel{
    -fx-background-color: black;
    -fx-text-fill: #00ff00;
    /*-fx-font-size: 60px;*/
    /*-fx-padding: 30px;*/
    -fx-font-family: monospace;
    -fx-font-weight: bold;
}

.timerlabel-vbox{
    -fx-background-color: black;
}

.timerlabel-hBox{
    -fx-background-color: black;
}

.text-white{
    -fx-text-fill: white;
}